// bitmap layer '{{&name}}'
{	
	current->bitmap_{{&name}} = gbitmap_create_with_resource( {{resource_id}} );
	current->{{&name}} = bitmap_layer_create( (GRect){ .origin = { {{top}}, {{left}} }, .size = { {{width}}, {{height}} } } );
	Layer *layer = bitmap_layer_get_layer( current->{{&name}} );
    bitmap_layer_set_bitmap( current->{{&name}}, current->bitmap_{{&name}} );
	{{#hidden}}
	layer_set_hidden( layer, true );
	{{/hidden}}
    layer_add_child( parent, layer );
}